body {
  display: flex;
  justify-content: end;
  align-items: end;
  height: 100vh;
  background-image: linear-gradient(
    45deg,
    rgb(90, 55, 136),
    rgb(126, 35, 35),
    rgb(43, 109, 65),
    rgb(37, 36, 114)
  );

  margin: 0px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 24px;
  text-align: center;
  box-shadow: 5px 5px 25px rgb(12, 12, 12);
  padding: 15px;
  background-color: rgba(56, 53, 48, 0.5);
  max-width: 690px;
  backdrop-filter: blur(55px);
  border-radius: 10px;
}

.letterButton {
  text-transform: uppercase;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  height: 50px;
  width: 50px;
  box-shadow: 5px 5px 25px rgb(20, 20, 20);
  background-color: rgb(53, 56, 58);
}

@media (max-width: 724px) {
  .container {
    text-align: center;
    font-size: 18px;
    width: 95%;
  }

  .letterButton {
    height: 45px;
    width: 45px;
    margin: 9px;
  }
}
@media (max-width: 661px) {
  .letterButton {
    height: 35px;
    width: auto;
    margin: 9px;
  }
}
