.container {
  text-align: center;
  box-shadow: 5px 5px 25px rgb(12, 12, 12);
  padding: 10px 15px;
  background-color: rgba(56, 53, 48, 0.5);

  backdrop-filter: blur(15px);
  border-radius: 10px;
  margin-bottom: 15px;
}

.letterButton {
  text-transform: uppercase;
  padding: 5px;
  margin: 9px;
  border-radius: 5px;
  height: 70px;
  width: 70px;
  box-shadow: 5px 5px 25px rgb(20, 20, 20);
  background-color: rgb(53, 56, 58);
  transition: background-color 0.3s ease-in-out;
}

@media (max-width: 964px) {
  .container {
    font-size: 16px;
  }

  .letterButton {
    height: 50px;
    width: 50px;
    margin: 4px;
  }
}

@media (max-width: 719px) {
  .letterButton {
    height: 32px;
    width: 32px;
    margin: 2px;
  }
}
