.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 24px;
  text-align: center;
  box-shadow: 5px 5px 25px rgb(12, 12, 12);
  padding: 10px;
  background-color: rgba(56, 53, 48, 0.5);
  width: 900px;
  backdrop-filter: blur(55px);
  border-radius: 10px;
}

.letterButton {
  text-transform: uppercase;
  padding: 5px;
  margin: 9px;
  border-radius: 5px;
  height: 70px;
  width: 70px;
  box-shadow: 5px 5px 25px rgb(20, 20, 20);
  background-color: rgb(53, 56, 58);
  transition: background-color 0.3s ease-in-out;
}

@media (max-width: 964px) {
  .container {
    text-align: center;
    font-size: 16px;
    width: 95%;
  }

  .letterButton {
    height: 50px;
    width: 50px;
    margin: 4px;
  }
}
@media (max-width: 719px) {
  .container {
    width: 100%;
  }
  .letterButton {
    height: 35px;
    width: 35px;
    margin: 3px;
  }
}
