.randomLetter {
  font-size: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10vh;
  text-shadow: 5px 5px 15px rgb(3, 3, 3);
  color: #fdfdfd;
}

.startButton {
  margin: 0 auto;
  display: block;
  font-size: 2rem;
  border-radius: 10px;
  border: none;
  background-color: #3d3d3dea;
  margin-bottom: 10vh;
  transition: background-color, box-shadow 0.3s ease-in-out;
}
.startButton:hover {
  background-color: #3d3d3dc4;
  box-shadow: 2px 2px 25px rgb(3, 3, 3);
}

.scoreParagraph {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 1.2rem;
  background-color: #3d3d3dc4;
  border-radius: 10px;
  padding: 5px 10px;
  color: #fdfdfd;
}

@media (max-width: 964px) {
  .randomLetter {
    font-size: 4rem;
  }
  .startButton {
    font-size: 1.2rem;
  }

  .scoreParagraph {
    font-size: 0.8rem;
  }
}
